body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height to center vertically */
    background-color: #f4f4f9;
  }
  
  .recipe-finder-box {
    background-color: #fff;
    padding: 10rem;
    border-radius: 50px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  input[type="text"] {
    padding: 0.5rem;
    width: 100%;
    max-width: 300px;
    font-size: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    background-color: #007BFF;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #f0b429;
    animation: bounce 1.5s;
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0); /* No movement */
    }
    40% {
      transform: translateY(-20px); /* Moves up by 20px */
    }
    60% {
      transform: translateY(-10px); /* Moves up slightly by 10px */
    }
  }
  
  /* Optional Footer Styling */
  footer {
    text-align: center;
    margin-top: 3rem;
    font-size: 1.0rem;
  }
  